mixin filter()
  form.filter#filterWinners
    .filter-title Неделя розыгрыша
    .filter__row
      .filter__col
        +select-winners-filter({
          id: 'filterWinnersWeek'
        })
      .filter__col
        +input-search({
          variant: 'input-search-winners',
          id: "filterWinnersPhone",
          name: "phone",
          placeholder: "Поиск по номеру телефона"
        })