mixin modal-feedback(props)
  // MODAL FEEDBACK
  .modal.fade.modal-feedback#modalFeedback(tabindex="-1" aria-labelledby="modalFeedbackLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          .modal-title СВЯЗАТЬСЯ С НАМИ
          +button-modal-close()
        .modal-body
          +form-feedback()
