.section-demo {
  width: 100%;
  height: 100vh;
}

.section-talk {
  position: relative;
  width: 100%;
  height: 100vw;
  overflow: hidden;
  background-image: url("./images/path-decoration-mobile.svg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-top: 1px solid #f1f1f3;
  border-bottom: 1px solid #f1f1f3;
}

.friend-avatar__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &.visible {
    opacity: 1;
    transition: 0.5s;
  }
}

.friend-avatar__path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-path-friends {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .section-talk {
    width: 100%;
    height: 56.25vw;
    background-image: url("./images/path-decoration-desktop.svg");
  }
}

@media only screen and (min-width: 992px) {
  .section-talk {
    position: relative;
    width: 100%;
    height: 56.25vw;
  }

  .friend-avatar__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.visible {
      opacity: 1;
      transition: 0.5s;
    }
  }

  .friend-avatar__path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .svg-path-friends {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .section-talk {
    position: relative;
    width: 100%;
    height: 56.25vw;
  }

  .friend-avatar__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.visible {
      opacity: 1;
      transition: 0.5s;
    }
  }

  .friend-avatar__path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .svg-path-friends {
    display: block;
    width: 100%;
  }
}

@import "./item.scss";

@import "./popover.scss";
