section.section-ani
  .section-ani__wrapper

     .friend-avatar__block
      .friend-avatar__container

        .friend-avatar__item.friend-avatar__item--01
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 1
          .friend-avatar__popover Lorem ipsum dolor sit amet.

        .friend-avatar__item.friend-avatar__item--02
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 2
          .friend-avatar__popover Lorem ipsum dolor sit amet consectetur adipisicing.

        .friend-avatar__item.friend-avatar__item--03
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 3
          .friend-avatar__popover Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, in?

        .friend-avatar__item.friend-avatar__item--04
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 4
          .friend-avatar__popover Lorem ipsum dolor sit amet.

        .friend-avatar__item.friend-avatar__item--05
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 5
          .friend-avatar__popover Lorem, ipsum dolor sit amet consectetur adipisicing.

        .friend-avatar__item.friend-avatar__item--06
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 6
          .friend-avatar__popover Lorem ipsum dolor sit, amet consectetur adipisicing elit.

        .friend-avatar__item.friend-avatar__item--07
          .friend-avatar__arrow-container
            .friend-avatar__arrow
          .friend-avatar__image 7
          .friend-avatar__popover Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, eligendi?

      .friend-avatar__path
        <svg class="svg-path-friends" viewBox="0 0 361 150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="flyPath" d="M354 149H61.5L57.5 146.5L55.5 141.5V130.5V119.5L53.5 110L51 103L48.5 96.5L45.5 90L42 84L38 78.5L34 73.5L29 69L23.5 65L19 62.5L14.5 60.5L10 59L6 57L3 54L1.75 50.5L1 46V7.5L1.5 4.5L3 2.5L5 1.5L8 1H303L305 1.5L307 2.5L309 4L310.5 5.5L312 7.5L313 9L314 11L314.5 13V23.5L315 29.5L315.5 35.5L316.5 40.5L318.5 46L321.5 52L325 58L328.5 63L332.5 68L336 71.5L339.5 74.5L344.5 78.5L349 81L354 84L357 87.5L359 91L360 94.5V141V144.5L359 147L357 148.5L354 149Z" stroke="black" stroke-width="2"/>
        </svg>


