section.section-talk
  .friend-avatar__block

    .friend-avatar__container

      .friend-avatar__item.friend-avatar__item--01
        .friend-avatar__image
          img(src="./images/avatar-01.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli


      .friend-avatar__item.friend-avatar__item--02
        .friend-avatar__image
          img(src="./images/avatar-02.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

      .friend-avatar__item.friend-avatar__item--03
        .friend-avatar__image
          img(src="./images/avatar-03.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

      .friend-avatar__item.friend-avatar__item--04
        .friend-avatar__image
          img(src="./images/avatar-04.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

      .friend-avatar__item.friend-avatar__item--05
        .friend-avatar__image
          img(src="./images/avatar-05.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

      .friend-avatar__item.friend-avatar__item--06
        .friend-avatar__image
          img(src="./images/avatar-06.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

      .friend-avatar__item.friend-avatar__item--07
        .friend-avatar__image
          img(src="./images/avatar-07.jpg", alt="")
        .friend-avatar__arrow-container
          .friend-avatar__arrow
        .friend-avatar__popover
          .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          a(href="/").popover-member-link Read more >>
          .popover-member-stars
            img(src="./images/icon-stars.svg", alt="")
          .popover-member-name Israel Israeli

    .friend-avatar__path
      <svg class="svg-path-friends" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" fill="none">
        <style><![CDATA[.B{fill:#fff}.C{stroke:#f1f1f3}.D{fill:#f1f1f3}.E{fill:#e5e5e5}.F{fill:#919191}.G{fill-rule:evenodd}]]></style>
        <path d="M1921 906H229v6h1692v-6z" class="D"/>
        <g class="C"><path d="M1920.5 906.5h-1691v5h1691v-5z"/>
        <path d="M-67 1085.5c186.948 0 338.5-151.552 338.5-338.5S119.948 408.5-67 408.5-405.5 560.052-405.5 747-253.948 1085.5-67 1085.5z" stroke-width="5"/></g>
        <use xlink:href="#B" class="B"/>
        <use xlink:href="#C" class="C"/>
        <use xlink:href="#D" class="E"/>
        <use xlink:href="#E" class="B"/>
        <use xlink:href="#F" class="F"/>
        <g class="B">
          <use xlink:href="#E"/>
          <use xlink:href="#G" class="G"/>
        </g>
        <path d="M1786 912V507h-5v405h5z" class="D"/>
        <path d="M1785.5 911.501V507.499h-4v404.002h4z" class="C"/>
        <path d="M134 179h1464v-5H134v5z" class="D"/>
        <path d="M134.5 178.5h1463v-4h-1463v4z" class="C"/>
        <path d="M134 471V-41h-5v512h5z" class="D"/>
        <g class="C">
          <path d="M133 463.739V-47h-4v510.739h4z"/>
          <path d="M1935-132.5c-186.95 0-338.5 151.552-338.5 338.5s151.55 338.5 338.5 338.5 338.5-151.552 338.5-338.5-151.55-338.5-338.5-338.5z" stroke-width="5"/>
        </g>
        <use xlink:href="#B" x="-97" y="-731" class="B"/>
        <use xlink:href="#C" x="-97" y="-731" class="C"/>
        <use xlink:href="#D" x="-97" y="-731" class="E"/>
        <use xlink:href="#E" x="-97" y="-731" class="B"/>
        <use xlink:href="#F" x="-97" y="-731" class="F"/>
        <g class="B"><use xlink:href="#E" x="-97" y="-731"/>
          <use xlink:href="#G" x="-97" y="-731" class="G"/>
          <use xlink:href="#B" x="1554" y="-402"/>
        </g>
        <use xlink:href="#H" class="C"/>
        <path d="M1771.77 517.786a.53.53 0 0 1-.23-.051c-.07-.034-.13-.084-.17-.146-.05-.061-.08-.132-.1-.208a.59.59 0 0 1 .01-.229l1.53-5.6a11.73 11.73 0 0 1-1.33-7.369 11.71 11.71 0 0 1 3.42-6.664 11.69 11.69 0 0 1 6.76-3.224 11.66 11.66 0 0 1 7.32 1.538c2.21 1.303 3.93 3.295 4.89 5.67a11.62 11.62 0 0 1 .45 7.475c-.68 2.473-2.14 4.655-4.18 6.211a11.7 11.7 0 0 1-7.1 2.399h0c-1.88-.001-3.74-.457-5.41-1.328l-5.74 1.509a.45.45 0 0 1-.12.017z" class="E"/><use xlink:href="#I" class="B"/>
        <path d="M1772.16 516.894l1.53-5.594c-1.19-2.059-1.66-4.453-1.35-6.81s1.39-4.544 3.07-6.224a10.82 10.82 0 0 1 6.23-3.067c2.36-.309 4.75.168 6.81 1.357s3.67 3.025 4.58 5.221c.9 2.196 1.06 4.631.45 6.927-.62 2.296-1.97 4.325-3.86 5.772s-4.2 2.231-6.57 2.231a10.76 10.76 0 0 1-5.16-1.314l-5.73 1.501z" class="F"/>
        <g class="B">
          <use xlink:href="#I"/>
          <path d="M1780.25 501.222c-.21-.465-.43-.475-.63-.483l-.53-.007a1.05 1.05 0 0 0-.41.097c-.13.06-.24.146-.34.253-.31.299-.56.661-.73 1.063s-.25.833-.25 1.268a5.39 5.39 0 0 0 1.15 2.891 11.44 11.44 0 0 0 4.77 4.219c2.36.931 2.84.746 3.35.7.39-.076.76-.234 1.09-.463.32-.229.6-.524.8-.866a2.33 2.33 0 0 0 .16-1.329c-.07-.116-.25-.186-.53-.326l-1.91-.909c-.26-.093-.45-.14-.63.14-.19.28-.72.909-.89 1.1-.16.191-.32.21-.6.07-.83-.328-1.59-.798-2.25-1.387a8.47 8.47 0 0 1-1.56-1.936c-.16-.279 0-.418.13-.57a9.05 9.05 0 0 0 .7-.956.69.69 0 0 0 .05-.248c-.01-.085-.03-.169-.08-.242-.07-.141-.61-1.523-.86-2.079z" class="G"/>
          <use xlink:href="#B" x="-98" y="-435"/>
        </g>
        <use xlink:href="#C" x="-98" y="-435" class="C"/>
        <path d="M131 485c6.075 0 11-4.925 11-11s-4.925-11-11-11-11 4.925-11 11 4.925 11 11 11z" fill="#555"/>
        <g class="B">
          <use xlink:href="#J"/><use xlink:href="#B" x="1369" y="-733"/>
        </g>
        <use xlink:href="#H" x="-185" y="-331" class="C"/>
        <path d="M1598 187a11 11 0 1 0 0-22 11 11 0 1 0 0 22z" fill="#555"/>
        <g class="B">
          <path d="M1601.47 174.639l-.22 1.914c-.01.087-.05.168-.12.227-.06.06-.15.093-.24.094h-2l-.01 5.675c.01.067-.02.132-.07.18-.04.048-.11.076-.18.078h-2.02c-.03 0-.06-.007-.09-.02-.04-.013-.06-.032-.09-.057-.02-.024-.04-.053-.05-.084s-.02-.065-.02-.099v-5.674h-1.5c-.04 0-.09-.01-.13-.029-.05-.018-.09-.045-.12-.078a.49.49 0 0 1-.08-.118.61.61 0 0 1-.02-.137l-.01-1.913c0-.047.01-.094.03-.138a.31.31 0 0 1 .08-.118c.03-.034.07-.061.11-.08s.09-.028.14-.029h1.5v-1.848c-.05-.432 0-.87.14-1.282a2.98 2.98 0 0 1 .66-1.105c.3-.316.67-.562 1.07-.722.41-.16.84-.229 1.27-.203h1.53c.05 0 .1.01.14.029.05.019.09.046.12.08a.47.47 0 0 1 .08.118.63.63 0 0 1 .02.138v1.611a.63.63 0 0 1-.02.138.49.49 0 0 1-.08.118c-.03.034-.07.061-.12.08a.35.35 0 0 1-.14.029h-.93c-1.02 0-1.22.5-1.22 1.221v1.6h2.23c.06.001.11.012.15.033a.31.31 0 0 1 .12.091.24.24 0 0 1 .07.132c.02.049.02.1.02.15v-.002z"/>
          <use xlink:href="#B" x="468" y="-732"/>
        </g>
        <use xlink:href="#C" x="468" y="-732" class="C"/>
        <path d="M697 188c6.075 0 11-4.925 11-11s-4.925-11-11-11-11 4.925-11 11 4.925 11 11 11z" fill="#555"/>
         <use xlink:href="#J" x="566" y="-297" class="B"/>
        <path id="flyPath" d="M150 176.5H1579.49h17v34.189 10.123l1 15.188 2.5 17.5 1.5 10 1.5 9 2.5 10 3.5 14.5 4 13.5 4.5 13 4.5 11.5 6 13.5 5 10.5 5 9.5 8 14 8.5 13 11 15 12 15.5 12.5 13.999 12.5 12 11.5 10.5 15.5 12.5 15 11 16.5 10.5 22 12 .5 27V909h-200H228.502l11.5-19 9.501-22.5 6.5-19.5 6-21.5 4.5-21 3-22 1.999-23.5v-22l-1.499-21-1.5-18-3.5-19.5-5.5-22.001-5.5-18.5-8-21-6.001-14-9-18-10.999-18.5-13-19.5-21.501-26.5-20.499-21-13.001-11.5-21-16v-33-263.266L150 176.5" stroke="transition" stroke-width="2"/>
        <use xlink:href="#B" x="1554" class="B"/><use xlink:href="#H" y="402" class="C"/><path d="M1783 920a11 11 0 1 0 0-22 11 11 0 1 0 0 22z" fill="#555"/>
        <path d="M1786.47 907.639l-.22 1.914a.35.35 0 0 1-.12.228c-.06.059-.15.092-.24.093h-2l-.01 5.675c.01.067-.02.132-.07.18-.04.048-.11.076-.18.078h-2.02c-.03 0-.06-.007-.09-.02-.04-.013-.06-.032-.09-.057-.02-.024-.04-.053-.05-.084s-.02-.065-.02-.099v-5.674h-1.5c-.04 0-.09-.01-.13-.028-.05-.019-.09-.046-.12-.079s-.06-.074-.08-.117a.63.63 0 0 1-.02-.138l-.01-1.913c0-.047.01-.094.03-.138a.31.31 0 0 1 .08-.118c.03-.034.07-.061.11-.08s.09-.028.14-.029h1.5v-1.848c-.05-.432 0-.87.14-1.282s.36-.79.66-1.105.67-.562 1.07-.722c.41-.16.84-.229 1.27-.203h1.53a.35.35 0 0 1 .14.029c.05.019.09.046.12.08a.49.49 0 0 1 .08.118.63.63 0 0 1 .02.138v1.611a.63.63 0 0 1-.02.138.49.49 0 0 1-.08.118c-.03.034-.07.061-.12.08a.35.35 0 0 1-.14.029h-.93c-1.02 0-1.22.5-1.22 1.221v1.6h2.23a.32.32 0 0 1 .15.034c.05.021.09.052.12.09a.24.24 0 0 1 .07.132c.02.049.02.1.02.15v-.002z" class="B"/>
        <defs >
        <path id="B" d="M229 931c12.15 0 22-9.85 22-22s-9.85-22-22-22-22 9.85-22 22 9.85 22 22 22z"/><path id="C" d="M229 930.5c11.874 0 21.5-9.626 21.5-21.5s-9.626-21.5-21.5-21.5-21.5 9.626-21.5 21.5 9.626 21.5 21.5 21.5z"/><path id="D" d="M217.766 919.786c-.077 0-.154-.017-.223-.051a.5.5 0 0 1-.177-.146c-.047-.061-.079-.132-.093-.208s-.012-.154.009-.229l1.532-5.6a11.69 11.69 0 0 1 2.084-14.033 11.69 11.69 0 0 1 14.086-1.686c2.207 1.303 3.926 3.295 4.89 5.67a11.69 11.69 0 0 1 .446 7.475c-.675 2.473-2.144 4.655-4.182 6.211s-4.53 2.399-7.093 2.399h-.005a11.71 11.71 0 0 1-5.408-1.328l-5.737 1.509c-.042.011-.085.017-.129.017z"/><path id="E" d="M217.768 919.284l1.587-5.795a11.19 11.19 0 0 1-1.398-7.053c.323-2.441 1.442-4.707 3.184-6.447a11.19 11.19 0 0 1 13.501-1.772 11.19 11.19 0 0 1 5.209 12.582 11.18 11.18 0 0 1-10.803 8.29h0a11.18 11.18 0 0 1-5.345-1.361l-5.935 1.556zm6.2-3.579l.34.2c1.432.85 3.067 1.299 4.732 1.3h0a9.3 9.3 0 0 0 5.699-1.941c1.632-1.261 2.798-3.029 3.315-5.025s.357-4.108-.457-6.003a9.3 9.3 0 0 0-9.965-5.522 9.3 9.3 0 0 0-5.332 2.795c-1.418 1.498-2.298 3.424-2.502 5.476s.279 4.114 1.375 5.861l.221.352-.939 3.43 3.513-.923z"/><path id="F" d="M218.157 918.894l1.532-5.594c-1.187-2.059-1.661-4.453-1.35-6.81a10.8 10.8 0 0 1 3.075-6.224c1.681-1.68 3.871-2.758 6.227-3.067s4.75.168 6.809 1.357a10.8 10.8 0 0 1 4.575 5.221c.909 2.196 1.068 4.631.453 6.927s-1.972 4.325-3.858 5.772a10.8 10.8 0 0 1-6.574 2.231 10.79 10.79 0 0 1-5.16-1.314l-5.729 1.501z"/><path id="G" d="M226.252 903.222c-.209-.465-.43-.475-.629-.483l-.536-.007a1.03 1.03 0 0 0-.409.097c-.128.06-.243.146-.336.253a3.12 3.12 0 0 0-.734 1.063c-.169.401-.252.833-.244 1.268.091 1.054.487 2.059 1.141 2.891 1.161 1.829 2.816 3.292 4.774 4.219 2.361.931 2.841.746 3.354.7a2.82 2.82 0 0 0 1.886-1.329 2.33 2.33 0 0 0 .163-1.329c-.07-.116-.256-.186-.536-.326l-1.91-.909c-.256-.093-.443-.14-.629.14s-.722.909-.885 1.1-.326.21-.606.07a7.64 7.64 0 0 1-2.248-1.387c-.611-.565-1.135-1.217-1.555-1.936-.163-.279 0-.418.123-.57.256-.302.489-.621.7-.956.037-.077.055-.162.051-.248a.52.52 0 0 0-.074-.242c-.07-.141-.613-1.523-.861-2.079z"/><path id="H" d="M1783 528.5c11.87 0 21.5-9.626 21.5-21.5s-9.63-21.5-21.5-21.5-21.5 9.626-21.5 21.5 9.63 21.5 21.5 21.5z"/><path id="I" d="M1771.77 517.284l1.59-5.795c-1.23-2.133-1.73-4.612-1.4-7.053.32-2.441 1.44-4.707 3.18-6.447s4.01-2.856 6.45-3.177 4.92.174 7.05 1.405a11.19 11.19 0 0 1 4.74 5.407 11.18 11.18 0 0 1 .47 7.175 11.21 11.21 0 0 1-3.99 5.978c-1.96 1.499-4.35 2.312-6.81 2.312h0a11.19 11.19 0 0 1-5.35-1.361l-5.93 1.556zm6.2-3.579l.34.2c1.43.85 3.06 1.299 4.73 1.3h0c2.06.003 4.07-.68 5.7-1.941a9.26 9.26 0 0 0 3.31-5.025c.52-1.997.36-4.108-.45-6.003-.82-1.895-2.24-3.466-4.04-4.466s-3.89-1.371-5.93-1.056-3.91 1.298-5.33 2.795-2.3 3.424-2.5 5.476c-.21 2.052.28 4.114 1.37 5.861l.22.352-.93 3.43 3.51-.923z"/>
        <path id="J" d="M134.468 472.639l-.221 1.914c-.009.087-.05.168-.115.227s-.149.093-.237.094h-2l-.01 5.675c0 .067-.025.132-.072.18a.26.26 0 0 1-.178.078h-2.021c-.034 0-.067-.007-.098-.02s-.059-.032-.082-.057-.042-.053-.054-.084-.017-.065-.016-.099v-5.674h-1.5a.34.34 0 0 1-.137-.029c-.043-.018-.083-.045-.116-.078a.35.35 0 0 1-.076-.118c-.018-.043-.027-.09-.026-.137l-.005-1.913c-.001-.047.008-.094.025-.138a.37.37 0 0 1 .077-.118.36.36 0 0 1 .116-.08c.043-.018.09-.028.137-.029h1.505v-1.848a2.98 2.98 0 0 1 .135-1.282 2.96 2.96 0 0 1 .664-1.105c.299-.316.663-.562 1.068-.722s.839-.229 1.273-.203h1.531a.35.35 0 0 1 .138.029.37.37 0 0 1 .116.08c.033.033.059.074.076.118s.027.091.026.138v1.611c.001.047-.008.094-.026.138a.35.35 0 0 1-.076.118.37.37 0 0 1-.116.08c-.044.019-.091.028-.138.029h-.939c-1.015 0-1.212.5-1.212 1.221v1.6h2.231a.37.37 0 0 1 .267.124c.033.038.058.083.073.132a.38.38 0 0 1 .012.15l.001-.002z"/></defs>
      </svg>


