section.section-demo

section.section-talk
  .friend-avatar__block

    .friend-avatar__item.friend-avatar__item--01
      .friend-avatar__image
        img(src="./images/avatar-01.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--02
      .friend-avatar__image
        img(src="./images/avatar-02.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--03
      .friend-avatar__image
        img(src="./images/avatar-03.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--04
      .friend-avatar__image
        img(src="./images/avatar-04.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--05
      .friend-avatar__image
        img(src="./images/avatar-05.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--06
      .friend-avatar__image
        img(src="./images/avatar-06.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__item.friend-avatar__item--07
      .friend-avatar__image
        img(src="./images/avatar-07.jpg", alt="")
      .friend-avatar__arrow-container
        .friend-avatar__icon-arrow
        .friend-avatar__icon-close
      .friend-avatar__popover
        .popover-member-info “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
        a(href="/").popover-member-link Read more >>
        .popover-member-stars
          img(src="./images/icon-stars.svg", alt="")
        .popover-member-name Israel Israeli

    .friend-avatar__path
      <svg class="svg-path-friends" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" fill="none" preserveAspectRatio="none">
        <path id="flyPath" d="M150 176.5H1579.49h17v34.189 10.123l1 15.188 2.5 17.5 1.5 10 1.5 9 2.5 10 3.5 14.5 4 13.5 4.5 13 4.5 11.5 6 13.5 5 10.5 5 9.5 8 14 8.5 13 11 15 12 15.5 12.5 13.999 12.5 12 11.5 10.5 15.5 12.5 15 11 16.5 10.5 22 12 .5 27V909h-200H228.502l11.5-19 9.501-22.5 6.5-19.5 6-21.5 4.5-21 3-22 1.999-23.5v-22l-1.499-21-1.5-18-3.5-19.5-5.5-22.001-5.5-18.5-8-21-6.001-14-9-18-10.999-18.5-13-19.5-21.501-26.5-20.499-21-13.001-11.5-21-16v-33-263.266L150 176.5" stroke="transition" stroke-width="2"/>
      </svg>

section.section-demo