mixin form-recovery(props)
  // FORM RECOVERY
  form().form-modal.form-recovery#formRecovery
    .form-row
      .form-login__description Введите E-mail для восстановления пароля
    .form-row
      .form-col
        +input({
          id: "formRecoveryEmail",
          name: "email",
          label: "E-mail",
          dataRule: "email"
        })
    .form-error
    .form-row
      .form-col.form-col-center
        +button({
          variant: "button-form",
          type: "submit",
          text: "Восстановить"
        })