mixin accordion-row(props)
	.ds-accordion
		.ds-accordion__component
			.ds-accordion__headline
				.ds-accordion__title=props.title
				.ds-accordion__arrow
					svg
						use(href="#icon-accordion-arrow")
			.ds-accordion__dropdown
				.ds-accordion__description=props.text
