.auth-menu {
  margin-left: auto;
}

.auth-menu__list {
  display: flex;
}

.auth-menu__item {
}

.auth-menu__link {
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-white;
  transition: color $transition-main;

  &:hover {
    color: darken($color-white, 30%);
  }
}

@include media-tablet {
  .auth-menu__list {
    display: block;
    padding-top: 1.875rem;
  }

  .auth-menu__item {
    &:nth-child(n + 2) {
      margin-left: 0;
    }
  }

  .auth-menu__link {
    font-size: 2.25rem;
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }
}

@include media-mobile {
  .auth-menu__link {
    font-size: 1.5rem;
  }
}
