mixin modal-hand(props)
  .modal.fade.modal-hand#modalHand(tabindex="-1" aria-labelledby="modalHandLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          .modal-title Ввод данных чека
          .modal-subtitle Внимательно введите данные с чека в поля ниже:
          +button-modal-close()
        .modal-body
          +form-hand()
