mixin table-checks(props)
  .table#tableChecks
    .table-header
      .table-row
        .table-cell Дата&nbsp;загрузки чека
        .table-cell Данные чека
        .table-cell Статус чека
        .table-cell Приз
    .table-body
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell.rejected(data-label="Статус:") Отклонен
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат
      .table-row
        .table-cell(data-label="Загрузка:") 12.07.2020
        .table-cell(data-label="Данные:") ФН: 8710000100876187 №: 18581
        .table-cell(data-label="Статус:") Принят
        .table-cell(data-label="Приз:") Сертификат

mixin table-winners(props)
  .table#tableWinners
    .table-header
      .table-row
        .table-cell Имя
        .table-cell Телефон
        .table-cell Приз
    .table-body
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Ирина С.
        .table-cell(data-label="Телефон:") +7(***)***2053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Анна П.
        .table-cell(data-label="Телефон:") +7(***)***8573
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Александр М.
        .table-cell(data-label="Телефон:") +7(***)***9837
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Елена Р.
        .table-cell(data-label="Телефон:") +7(***)***8749
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="1")
        .table-cell(data-label="Имя:") Антон М.
        .table-cell(data-label="Телефон:") +7(***)***8859
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="2")
        .table-cell(data-label="Имя:") Олег А.
        .table-cell(data-label="Телефон:") +7(***)***4193
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="2")
        .table-cell(data-label="Имя:") Александр Е.
        .table-cell(data-label="Телефон:") +7(***)***1138
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="2")
        .table-cell(data-label="Имя:") Виктор М.
        .table-cell(data-label="Телефон:") +7(***)***2253
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="2")
        .table-cell(data-label="Имя:") Станистав М.
        .table-cell(data-label="Телефон:") +7(***)***9327
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="2")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***9053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5058
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5053
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***5057
        .table-cell(data-label="Приз:") Наименование приза
      .table-row(data-week="3")
        .table-cell(data-label="Имя:") Ирина М.
        .table-cell(data-label="Телефон:") +7(***)***7053
        .table-cell(data-label="Приз:") Наименование приза
