mixin form-registration(props)
  // FORM REGISTRATION
  form().form-modal.form-registration#formReg
    .form-row
      .form-col-50
        +input({
          id: "formRegName",
          name: "name",
          label: "Ваше имя",
          dataRule: "name"
        })
      .form-col-50
        +input({
          id: "formRegLastName",
          name: "lastName",
          label: "Ваша фамилия",
          dataRule: "nameLast"
        })
    .form-row
      .form-col-50
        +input({
          id: "formRegMiddleName",
          name: "middleName",
          label: "Ваше отчество",
          dataRule: "nameMiddle"
        })
      .form-col-50
        +input({
          id: "formRegAge",
          name: "age",
          label: "Ваш возраст",
          dataRule: "age"
        })
    .form-row
      .form-col-50
        +input({
          id: "formRegPhone",
          name: "phone",
          label: "Номер телефона",
          dataRule: "phone"
        })
      .form-col-50
        +input({
          id: "formRegEmail",
          name: "email",
          label: "Ваш E-mail",
          dataRule: "email"
        })
    .form-row
      .form-col-50
        +select-region({
          id: 'formRegRegion',
          name: "region",
          label: "Выберите область",
          dataRule: "region"
        })
      .form-col-50
        +input-autocomplate({
          id: 'formRegCity',
          name: "city",
          label: "Выберите город",
          dataRule: "city"
        })
    .form-row
      .form-col
        +checkbox({
            id: "formRegRules",
            name: "rules",
            text: 'Я согласен с <a href="./documents/rules.pdf" target="_blank"> Правилами акции</a>',
            dataRule: "rules"
          })
    .form-row.form-row-16
      .form-col
        +checkbox({
            id: "formRegData",
            name: "data",
            text: 'Я согласен на обработку моих <a href="./documents/privacy-policy.pdf" target="_blank">Персональных данных.</a>',
            dataRule: "politic"
          })
    .form-error
    .form-row
      .form-col.form-col-center
        +button({
          variant: "button-form button-form-center",
          type: "submit",
          text: "Войти на сайт"
        })
