mixin form-feedback(props)
  // FORM FEEDBACK
  form.form-modal.form-feedback#formFeedback
    .form-row
      .form-col
        +input({
          id: "formFeedbackName",
          name: "name",
          label: "Ваше имя",
          dataRule: "name"
        })
    .form-row
      .form-col
        +input({
          id: "formFeedbackEmail",
          name: "email",
          label: "Ваш E-mail",
          dataRule: "email"
        })
    .form-row
      .form-col
        +select-feedback({
          id: "formFeedbackSubject",
          label: "Выберите тему",
          dataRule: "select"
        })
    .form-row
      .form-col
        +textarea({
          variant: "textarea-feedback",
          id: "formFeedbackMessage",
          name: "message",
          label: "Ваше сообщение",
          dataRule: "message"
        })
    .form-row
      .form-col
        +checkbox({
          id: "formFeedbackData",
          name: "data",
          text: 'Я принимаю <a href="./documents/privacy-policy.pdf" target="_blank">условия хранения и обработки передаваемой информации</a>.',
          dataRule: "politic"
        })
    .form-row
      .form-col
        +captcha({
          name: "captcha",
          id: "formFeedbackCaptcha",
          dataRule: "recaptcha"
        })
    .form-error
    .form-row
      .form-col.form-col-center
        +button({
          variant: "button-form",
          type: "submit",
          text: "Отправить"
        })
