mixin modal-login(props)
  // MODAL LOGIN
  .modal.fade.modal-login#modalLogin(tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          .modal-title Вход на сайт
          +button-modal-close()
        .modal-body
          +form-login()
