mixin modal-faq()
  // MODAL FAQ
  .modal.fade.modal-faq#modalFaq(tabindex="-1" aria-labelledby="modalFaqLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          .modal-title Вопрос-ответ
          +button-modal-close()
        .modal-body
          .modal-faq__scrollbar-container.scrollbar-container
            .ds-accordion__container
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
              +accordion-row({
                title: 'Кто может принимать участие в акции?',
                text: 'Участниками Акции могут являться дееспособные лица, достигшие возраста 18 лет, являющиеся гражданами Российской Федерации, зарегистрированные, постоянно проживающие на территории Российской Федерации. Граждане иностранных государств, зарегистрировавшиеся на Сайте, не приобретают статуса Участника.'
              })
