form().form-modal.form-change#formChange
  .form-row
    .form-col
      +input-password({
        id: "formChangePassw1",
        name: "oldPassw",
        label: "Текущий пароль",
        type: "text"
      })
  .form-row
    .form-col
      +input-password({
        id: "formChangePassw2",
        name: "newPassw",
        label: "Новый пароль",
        type: "password"
      })
  .form-row
    .form-col
      +input-password({
        id: "formChangePassw3",
        name: "newPassw2",
        label: "Повторите новый пароль",
        type: "password"
      })
  .form-error
  .form-row
    .form-col.form-col-center
      +button({
        variant: "button-form",
        type: "submit",
        text: "Сохранить"
      })