form.form-link
  .form-row
    .form-col
      .form-link__title Разместите ссылку для участия
  .form-row
    .form-col
      +input-container({
        name: "link",
        id: "formLinkLink"
      })
  .form-error
  .form-row
    .form-col.form-col-center
      +button-form({
        variant: "button-form button-form-link",
        text: "Отправить ссылку",
      })