mixin main-menu(props)
  nav.main-menu
    ul.main-menu__list
      li.main-menu__item
        a(href="./").main-menu__link Main
      li.main-menu__item
        a(href="./modals.html").main-menu__link Modals
      li.main-menu__item
        a(href="./lazyload.html").main-menu__link Lazy
      li.main-menu__item
        a(href="./animation.html" data-link='section-2').main-menu__link Animation
      li.main-menu__item
        a(href="./greed.html").main-menu__link Greed
      li.main-menu__item
        a(href="./fullpagescroll.html" data-link='section-3').main-menu__link Fullpagescroll
      li.main-menu__item
        a(href="" data-link='section-5').main-menu__link Feedback
