.form-modal {
  margin-top: 1.875rem;
  margin-bottom: 0;
}

.form-row {
  display: flex;

  &:nth-child(n + 2) {
    margin-top: 1.625rem;
  }
}

.form-row-16 {
  &:nth-child(n + 2) {
    margin-top: 1rem;
  }
}

.form-col {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.form-col-50 {
  padding-right: 0;
  padding-left: 0;
  width: calc(50% - 0.9375rem);

  &:nth-child(2n) {
    margin-left: 1.75rem;
  }
}

.form-col-center {
  justify-content: center;
  display: flex;
}

.form-error__text {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: $color-red;
}

@include media-tablet {
  .form-col-50 {
    padding-right: 0;
    padding-left: 0;
    width: calc(50% - 0.625rem);

    &:nth-child(2n) {
      margin-left: 1.125rem;
    }
  }
}

@include media-mobile {
  .form-col-50 {
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    &:nth-child(2n) {
      margin-top: 1.625rem;
      margin-left: 0;
    }
  }
}

@import "./form-reg/form-reg.scss";
