include ./form-login/form-login
include ./form-reg/form-reg
include ./form-recovery/form-recovery
include ./form-confirm/form-confirm
include ./form-hand/form-hand
include ./form-feedback/form-feedback