include ./modal-login/modal-login
include ./modal-reg/modal-reg
include ./modal-recovery/modal-recovery
include ./modal-info/modal-info
include ./modal-confirm/modal-confirm
include ./modal-winners/modal-winners
include ./modal-hand/modal-hand
include ./modal-feedback/modal-feedback
include ./modal-faq/modal-faq