.form-login__description {
  margin: 0 auto;
  width: 18.75rem;
  width: 100%;
  font-family: $font-gotham-regular;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  color: $color-black-2;
}
