form().form-modal.form-win-data#formWinData
  .form-row
    .form-col-50
      +input-container({
        id: "formWinDataName",
        name: "name",
        label: "Ваше имя"
      })
    .form-col-50
      +input-container({
        id: "formWinDataLAstName",
        name: "lastName",
        label: "Ваша фамилия"
      })
  .form-row
    .form-col-50
      +input-container({
        id: "formWinDataMiddleName",
        name: "middleName",
        label: "Ваше отчество"
      })
    .form-col-50
      +input-container({
        id: "formWinDataINN",
        name: "inn",
        label: "Ваш ИНН"
      })
  .form-row
    .form-col
      .modal-title Паспортные Данные
  .form-row
    .form-col-50
      +input-container({
        id: "formWinDataPassportData",
        name: "passportData",
        label: "Серия номер"
      })
    .form-col-50
      +input-container({
        id: "formWinDataPassportOrg",
        name: "passportOrg",
        label: "Выдан"
      })
  .form-row
    .form-col-50
      +input-container({
        id: "formWinDataPassportCode",
        name: "passportCode",
        label: "Код подразделения"
      })
    .form-col-50
      +input-container({
        id: "formWinDataPassportDate",
        name: "passportDate",
        label: "Дата выдачи"
      })
  .form-row
    .form-col-50
      +input-container({
        id: "formWinDataPassportAddress",
        name: "passportAddress",
        label: "Зарегистрирован по адресу"
      })
  .form-error
  .form-row
    .form-col.form-col-center
      +button({
        variant: "button-form",
        type: "submit",
        text: "Отправить данные"
      })
