.modal-reg {
  .modal-dialog {
    max-width: 50.625rem;
  }
}

@include media-tablet {
  .modal-reg {
    .modal-dialog {
      max-width: 46.875rem;
    }
  }
}

@include media-mobile {
  .modal-reg {
    .modal-dialog {
      max-width: 18.75rem;
    }
  }
}
