mixin form-hand(props)
  form().form-modal.form-hand#formHand
    .form-row
      .form-col
        +input({
          id: "formHandFN",
          name: "fn",
          placeholder: "ФН",
          dataRule: "checkFN"
        })
    .form-row
      .form-col
        +input({
          id: "formHandFD",
          name: "fd",
          placeholder: "ФД",
          dataRule: "checkFN"
        })
    .form-row
      .form-col
        +input({
          id: "formHandFP",
          name: "fp",
          placeholder: "ФП",
          dataRule: "checkFN"
        })
    .form-row
      .form-col
        +input({
          id: "formHandDate",
          name: "date",
          placeholder: "Дата покупки",
          dataRule: "date"
        })
    .form-row
      .form-col
        +input({
          id: "formHandTime",
          name: "time",
          placeholder: "Время покупки",
          dataRule: "time"
        })
    .form-row
      .form-col
        +input({
          id: "formHandSumm",
          name: "summ",
          placeholder: "Сумма покупки",
          dataRule: "checkFN"
        })
    .form-error
    .form-row
      .form-col.form-col-center
        +button({
          variant: "button-form",
          type: "submit",
          text: "отправить"
        })
